.App {
  background-color: rgba(132, 199, 174, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signIn {
  background-color: rgba(246, 251, 249, 1);
  width: 401px;
  height: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10%;
  padding: 30px;
  gap: 10px;
}
h3 {
  font-size: 35px;
  margin-bottom: -14px;
}
p {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
input {
  width: 377px;
  height: 74px;
  border-radius: 15px;
  padding-left: 20px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}
button {
  width: 300px;
  height: 74px;
  border-radius: 11px;
  background-color: rgba(132, 199, 174, 1);
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
a {
  color: black;
}
